POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_HOST=host
POSTGRES_PORT=port
POSTGRES_DB=db_name
SECRET_KEY=secret_key
ALGORITHM=algorithm
ACCESS_TOKEN_EXPIRE_MINUTES=30
FRONTEND_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,https://frontend-159108267686.asia-south1.run.app